---
layout: page
url: chapter-3
title: Chapter 3
slug: chapter-3
subtitle: Subtitle
description: Facebook description
twitter: Twitter Post
billboardClass: chapter3-billboard

subnav:
- section-num: 3.1 
  section-title: Subnav Section Title
- section-num: 3.2
  section-title: Subnav Section Title

navigation_weight: 20
---


{% include social-links.html %}

{% include billboard.html %}



<div class="section-header" id="section3.1" name="section3.1">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">3.1</span>{{ page.subnav[0].section-title }}</h2>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">

				<p><- insert content -></p>

			</div>
		</div>
	</div>
</div>


<div class="section-header" id="section3.2" name="section3.2">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">3.2</span>{{ page.subnav[1].section-title }}</h2>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">

				<p><- insert content -></p>
				
			</div>
		</div>
	</div>
</div>




{% include upper-footer.html %}